/* Setup */
:root{
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html 
{
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 2vh;
}

header{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

header .logo img{
    width: 200px;
    height: auto;
    cursor: pointer;
}

header .contact i{
    --color-phone-icon: rgb(45, 193, 209);
    --icon-size: 30px;
   color: var(--color-phone-icon);
   width: var(--icon-size);
   height: var(--icon-size);
   line-height: var(--icon-size);
   text-align: center;
   border: 2px solid var(--color-phone-icon);
   border-radius: 100%;
}

header nav div ul{
    text-transform: capitalize;
    list-style-type: none;
    text-align: center;
}

header nav div ul li a{
    text-decoration: none;
    padding: 0 2vh !important;
    color: black;
    font-size: 20px !important;
}

header nav div ul li a:hover{
    color: rgb(165, 136, 218) !important;
}


main{

}

#slider{
    width: 100%;
    height: 700px;
    padding-top: 50%;
    background: url("../images/body-strong-gym-fitness.jpg") top center / cover no-repeat;
    position: relative;
}

#slider .social-links {
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: #fff;
}

#slider .social-links ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#slider .social-links ul li{
    list-style-type: none;
    width: auto;
    height: auto;
    margin: 15px 15px;
}

#slider .social-links ul a{
    text-decoration:none;
}

#slider .slider-intro{
    color: #fff;
    max-width: 450px;
    position: absolute;
    left: 3%;
    top: 20%;
}

#slider .slider-intro h1{
    font-size: 50px;
}

#slider .slider-intro p{
    font-size: 20px;
    color: rgb(180, 180, 180);
    font-weight: 500;
}

#slider .slider-intro button{
    background-color: rgb(54, 212, 212);
    color: black;
    font-size: 25px;
    padding: 20px 60px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    filter:brightness(80%);
}

#slider .slider-intro button:hover{
    opacity: 0.9;
}

@media only screen and (max-width: 768px) {
    #slider .slider-intro{
        max-width: 250px;
    }

    #slider .slider-intro h1{
        font-size: 30px;
    }
    
    #slider .slider-intro p{
        font-size: 14px;
    }
    
    #slider .slider-intro button{
        font-size: 20px;
        padding: 10px 40px;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) {
    #slider .slider-intro{
        max-width: 450px;
    }
    
    #slider .slider-intro h1{
        font-size: 50px;
    }
    
    #slider .slider-intro p{
        font-size: 20px;
    }
    
    #slider .slider-intro button{
        font-size: 25px;
        padding: 20px 60px;
        margin-top: 20px;
    }
}


.sub-slider{
    padding-top: 30px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sub-slider .slider-item{
    width: 350px;
    height: 200px;
    position: relative;
    margin-bottom: 30px;
}

.sub-slider .slider-item img{
    width: 100%;
    height: 100%;
}

.sub-slider .slider-item .sub-slider-intro{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    text-align: center;
}

.sub-slider .slider-item .sub-slider-intro h1{
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #a19f9f, 1px 1px 1px #aeaeb0;
}

.sub-slider .slider-item .sub-slider-intro p{
    font-size: 14px;
    font-weight: 500;
    text-shadow: 1px 1px 1px #a19f9f, 1px 1px 1px #aeaeb0;
}

.sub-slider .slider-item .sub-slider-intro button{
    border: none;
    padding: 5px 25px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    filter:brightness(80%);
}

.intro{
    width: 100%;
    height: 500px;
    background-color: aquamarine;
}
