/* Setup */
:root{
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html 
{
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 2vh;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo img{
    width: 200px;
    height: auto;
    cursor: pointer;
}

header .contact i{
    --color-phone-icon: rgb(45, 193, 209);
    --icon-size: 30px;
   color: var(--color-phone-icon);
   width: var(--icon-size);
   height: var(--icon-size);
   line-height: var(--icon-size);
   text-align: center;
   border: 2px solid var(--color-phone-icon);
   border-radius: 100%;
}

header nav{
    
}

header nav ul{
    text-transform: capitalize;
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    padding: 0 2vh;
    color: black;
    font-size: 20px;
}


main{

}

#slider{
    width: 100%;
    height: 700px;
    padding-top: 50%;
    background: url("../images/body-strong-gym-fitness.jpg") top center / cover no-repeat;
    position: relative;
}

#slider .social-links {
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: #fff;
}

#slider .social-links ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#slider .social-links ul li{
    list-style-type: none;
    width: auto;
    height: auto;
    margin: 15px 15px;
}

#slider .social-links ul a{
    text-decoration:none;
}

#slider .slider-intro{
    color: #fff;
    max-width: 450px;
    position: absolute;
    left: 3%;
    top: 20%;
}

#slider .slider-intro h1{
    font-size: 50px;
}

#slider .slider-intro p{
    font-size: 20px;
    color: rgb(180, 180, 180);
    font-weight: 500;
}

#slider .slider-intro button{
    background-color: rgb(54, 212, 212);
    color: black;
    font-size: 25px;
    padding: 20px 60px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}

#slider .slider-intro button:hover{
    opacity: 0.9;
}



.sub-slider{
    width: 100%;
    height: 300px;
    background-color: rgb(139, 105, 105);
}

.intro{
    width: 100%;
    height: 500px;
    background-color: aquamarine;
}
